<html>
  <head>
    <title>Spooky Castle</title>
    <meta charset = "utf-8">
    <meta name="description" content="Visit the Spooky Castle">
    <link href="css/spooky.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1><%= @header %></h1>
    </header>
    <article>
      <%= yield %>
      <div id="door">
        <a href="/room1.html"><img src="spookydoor.png" alt=Room 1 /></a>
        <a href="/room2.html"><img src="spookydoor3.jpg" alt=Room 2 /></a>
        <a href="/room3.html"><img src="spookydoor4.jpg" alt=Room 3 /></a>
        <a href="/room4.html"><img src="spookydoor2.jpg" alt=Room 4 /></a>
      </div>
    </article>
    <nav>
      <div>
        <a href="/room<%= (@room == 1 || @room == 0) ? 4 : @room - 1 %>.html">Previous Room</a>
      </div>
      <div>
        <a href="/room<%= (@room == 4 || @room == 0) ? 1 : @room + 1 %>.html">Next Room</a>
      </div>
      <div>
        <a href="/room<%= rand(1..4) %>.html">Random Room</a>
      </div>
      <div>
        <a href="/spookycastle.html">Back to the Spooky Castle</a>
      </div>
    </nav>

    <footer>
      Copyright <%= Time.now.year %>
    </footer>
  </body>
</html>
